.class-movie  .fixName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.class-movie .fixName > a:hover{
    text-decoration: none;
}

.class-movie .fixName > a {
    color: white;
}
.class-movie{
    text-align: center;
}



.class-movie {
    border: none ;
}

.class-movie  .card-body >.card-text > span  {
    display: block;
}