.class-movie {
    display: flex;
    flex-direction: row;
    border: solid #F5C518;
    margin-top: 10px;
    width: -webkit-fill-available;
}

img {
    width: 20%;
}

.class-movie .fixName  {
    color: white;
    margin-left: 20px;
}